<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "home1.jpg" %>');">
  <div class="banner-content">

    <h1>Hello Earnest</h1>
    <h4>
      <span id="banner-typed-text"></span>
    </h4>
    <a href="" target="blank" class="btn btn-primary btn-lg">Start your Trip now!</a>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <div id="feat" class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img src="<%= image_path "flat.jpg" %>" alt="">
          <h2>Hébergement</h2>
          <p></p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "car_rental.jpg" %>" alt="">
          <h2>Location de véhicules</h2>
          <p></p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "train.jpg" %>" alt="">
          <h2>Train</h2>
          <p></p>
          <br><br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img src="<%= image_path "plane.jpg" %>" alt="">
          <h2>Vols Commerciaux</h2>
          <p></p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "boat_rental.jpg" %>" alt="">
          <h2>Location de bateaux</h2>
          <p></p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "private_plane.jpg" %>" alt="">
          <h2>Vols en Coavionnage</h2>
          <p></p>
          <br><br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bgimg-2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "living_room.jpg" %>');">
  <div class="banner-content-video">
    <div class="row">
      <div class="col-xs-12">

       <div class="cta-video" data-aos="flip-left" data-aos-duration="1000">
          <h4>When Sharing Economy meets Artificial Intelligence</h4>
          <!-- <br>
          <a href="https://m.me/earnestbot" target="blank" class="btn btn-primary btn-lg">Start saving Money!</a> -->
        </div>

        <div data-aos="flip-up" data-aos-duration="1000">
          <div data-toggle="modal" data-target="#myModal">
            <a href="#myGallery" class="btn btn-primary btn-lg"><h4>Earnest in Video</h4>
            </a>
            <br>
          </div>
        </div>
                  <!--begin modal window-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="video-container">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Lpj3wdqxqug?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div><!--end modal-body-->
            </div><!--end modal-content-->
          </div><!--end modal-dialoge-->
        </div><!--end myModal-->
      </div>
    </div>

  </div>
</div>

<div style="position:relative;">
  <div style="color:#777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <div id="demo" class="container text-center padded chatbot">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="<%= image_path "Earnest_Gif_UX.gif" %>" class="chatbot" alt="">
          </div>
        </div>
        <div class="chatbot-text col-xs-12 col-sm-6">
          <br>
          <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img class="image-ia" src="<%= image_path "earnest.png" %>" alt="">
            <br />
            <br />
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <br />
            <br />
            <br />
            <h3>Create your Travel Request</h3>
            <p></p>
            <br />
            <br />
            <br />
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h3>Finalize your selection among Earnest's offers in your Dashboard</h3>
            <p></p>
            <br />
            <br />
            <br />
          </div>
          <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
            <h3>All your travel details in the Chatbot</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <br><br />
  </div>
</div>

<div class="bgimg-3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "home_office.jpg" %>');">
  <div class="banner-content">
    <div data-aos="flip-up" data-aos-duration="1000">
      <h4>Think Sharing Economy for your next Business Trip!</h4>
      <br>
      <a href="https://m.me/helloearnest" target="blank" class="btn btn-primary btn-lg">Try us!</a>
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#0a0a0b;background-color:#bec9d6;text-align:center;padding:50px 80px;text-align: justify;">
    <h2><center>Earnest in Numbers</center></h2>
    <div class="container text-center padded features_key_nb">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div data-aos="fade-up-right">
            <img src="<%= image_path "percentage.jpg" %>" alt="">
            <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='30' data-delay='5' data-increment="1">0</div></h1><h2>% moins cher...</h2>
            <p>...en moyenne que les prix affichés</p>
            <br><br />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
            <img src="<%= image_path "award.jpg" %>" alt="">
            <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='50' data-delay='5' data-increment="1">0</div></h1><h2>% de réduction</h2>
            <p>C'est notre meilleure négociation à ce jours</p>
            <br><br />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <img src="<%= image_path "population.jpg" %>" alt="">
            <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='71' data-delay='5' data-increment="1">0</div></h1><h2>% des vacanciers Européens</h2>
            <p>Souhaitent baisser ou maintenir leur budget vacances </p>
            <br><br />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div data-aos="fade-up-left">
            <img src="<%= image_path "cash.jpg" %>" alt="">
            <h1><div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='344' data-delay='5' data-increment="1">0</div></h1><h2>Euros en moyenne</h2>
            <p>C'est le montant que vous économisez avec Earnest</p>
            <br><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bgimg-1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "traveler.jpg" %>');">
  <div class="container text-center padded people">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "people7.jpg" %>" alt="">
          <h2>"Excellent! Super efficace! J'ai fait beaucoup d'économies cette année avec Earnest!"</h2>
          <p>Emilie, 28 ans, Nantes</p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "people5.jpg" %>" alt="">
          <h2>"Hyper rapide! J'ai eu plusieurs propositions très interessantes avec Earnest"</h2>
          <p>Eric, 33 ans, San Francisco</p>
          <br><br />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div data-aos="zoom-in-down">
          <img src="<%= image_path "people4.jpg" %>" alt="">
          <h2>"Je recommande vivement! J'ai pu économiser 400€ sur mon voyage pro grâce à Earnest!"</h2>
          <p>Marie, 30 ans, Paris</p>
          <br><br />
        </div>
      </div>
    </div>

    <div class="row">

      <div data-aos="flip-up" data-aos-duration="1000">
        <div data-toggle="modal" data-target="#myModal-beta">
          <a href="#myBeta" class="beta btn btn-primary btn-lg"><h4>Devenez Bêta-Testeur!</h4>
          </a>
          <br>
        </div>
      </div>

      <div class="modal fade" id="myModal-beta">
        <div class="modal-dialog">
          <div class="modal-content-beta">
            <div class="modal-body-beta">
              <div class="beta-container">
                 <h4>Si comme Emilie, Eric ou Marie <strong>vous souhaitez qu'Earnest 🤖 s'occupe de votre prochain voyage d'affaires</strong>, vous êtes au bon endroit! Nous recherchons justement des early adopters, utilisant les plateformes collaboratives pour leurs week-ends ou leurs vacances 🏖️ afin qu'Earnest soit encore plus performant. Pour cela rien de plus simple : <strong>Devenez Bêta-testeur en "likant" 👍 notre page Facebook</strong>; vous serez alors enregistré comme testeur. A très vite!</h4>
                  <a href="https://www.facebook.com/HelloEarnest/" target="blank" class="btn btn-primary btn-lg">Devenez Bêta-Testeur!</a>
              </div>
            </div><!--end modal-body-->
          </div><!--end modal-content-->
        </div><!--end modal-dialoge-->
      </div><!--end myModal-->

    </div>

    <br><br />
  </div>
</div>

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

<script src="lib/jquery-1.10.2.min.js"></script>


<script src="lib/jquery.numscroller-1.0.js"></script>
<script src="lib/prism.js"></script>
<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
